//! best Content Styles
.best {
  width: 100%;
  margin: 2.5rem 0;
  &__content {
    width: $mainWidth;
    @include Responsive(laptop) {
      width: 89vw;
    }
    margin: 0 auto;
    &-main {
      @include centerizeTag(space-between);
      margin-top: 4rem;
      @include Responsive(phoneLand) {
        flex-wrap: wrap;
        gap: 6rem;
        justify-content: space-evenly;
      }
    }
    &-item {
      width: 20%;
      @include Responsive(phoneLand) {
        width: 23%;
      }
      @include centerizeTag();
      flex-direction: column;
      position: relative;
    }
    &-picture {
      width: 80%;
      height: 23rem;
      border: 0.5rem solid $colorWhite;
      border-radius: 2.5rem;
      overflow: hidden;
    }
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 450ms ease;
      &:hover {
        transform: scale(1.15);
        cursor: pointer;
      }
    }
    &-number {
      width: 5rem;
      height: 7rem;
      display: inline-block;
      background: url(/public/images/number.png) no-repeat;
      background-size: 30rem;
      position: absolute;
      top: -4.6rem;
      left: 2rem;
      z-index: -1;
      &--1 {
        background-position: 0 0;
      }
      &--2 {
        background-position: -5.6rem 0;
      }
      &--3 {
        background-position: -11.7rem 0;
      }
      &--4 {
        background-position: -18.5rem 0;
      }
      &--5 {
        background-position: -25.5rem 0;
      }
    }
    &-subtitle {
      text-align: center;
      margin-top: 1.5rem;
      &-head {
        color: $colorWhite;
        font-weight: bold;
        margin-top: 0.8rem;
      }
      &-positions {
        margin-top: 1rem;
        font-weight: bold;
        font-size: 1.3rem;
      }
      &-position {
        color: $colorSubtitle;
      }
      &-rate {
        color: $colorWhite;
      }
    }
  }
}
