//! Header Styles

.header {
  width: 100%;
  height: 6rem;

  //! Header Content Styles
  &__content {
    padding: 1rem 0;
    width: $mainWidth;
    @include Responsive(laptop) {
      width: 89vw;
    }
    margin: 0 auto;
    height: 100%;
    @include centerizeTag(flex-end);
    @include Responsive(laptop) {
      @include centerizeTag(space-between);
      flex-direction: row-reverse;
    }
    gap: 0.8rem;
    &-right {
      @include centerizeTag(flex-end);
    }
    &-search {
      display: flex;
      position: relative;
    }
    &-input {
      height: 100%;
      background-color: $colorPrimary;
      color: $colorWhite;
      padding: 1rem 2.5rem;
      border-radius: 2rem;
      border: none;
      font-size: $fontSizeSm;
      width: 40rem;
      @include Responsive(phoneLand) {
        width: 30rem;
      }
      @include Responsive(phone) {
        width: 20rem;
      }
      outline: none;
    }
    &-circle {
      width: 3.5rem;
      height: 3.5rem;
      background-color: #0761dc;
      color: #fff;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -0.1rem;
      right: 0;
      cursor: pointer;
    }

    &-bell {
      width: 4.5rem;
      height: 100%;
      @include centerizeTag();
      position: relative;
      cursor: pointer;

      &-icon {
        font-size: 2.5rem;
        color: $colorWhite;
      }
      &-circle {
        width: 2rem;
        height: 2rem;
        background-color: $colorSecondary;
        color: $colorWhite;
        @include centerizeTag();
        border-radius: 100%;
        font-size: 1rem;
        position: absolute;
        top: -0.2rem;
        right: 0.1rem;
      }
    }
    &-user {
      @include centerizeTag();
      gap: 0.8rem;

      &-text {
        display: flex;
        color: $colorWhite;
        font-weight: bold;
        text-transform: uppercase;
      }
      &-pic {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100%;
        border: 0.1rem solid $colorSecondary;
        padding: 0.1rem;
        cursor: pointer;
      }
      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-left {
      color: $colorWhite;
      font-size: 2rem;
      display: none;
      cursor: pointer;
      @include Responsive(laptop) {
        display: inline;
      }
    }
    &-close {
      display: none;
      @include Responsive(laptop) {
        display: flex;
      }
      position: absolute;
      top: 0.5rem;
      right: 0;
      font-size: 3rem;
      color: $colorWhite;
      cursor: pointer;
    }
  }
}
