//! Sidebar Styles
.sidebar {
  width: 17%;
  background-color: $colorPrimary;
  padding-bottom: 1.5rem;
  height: 100%;
  position: sticky;
  top: 0;
  right: 0;
  border-radius: 0 1.5rem 1.5rem 0;
  @include Responsive(laptop) {
    position: absolute;
    top: 0;
    left: -100rem;
    z-index: 1;
    width: 23%;
  }
  @include Responsive(phoneLand) {
    width: 40%;
  }
  //! Playtoo Sidebar Section Styles
  &__playtoo {
    @include centerizeTag();
    flex-direction: column;
    padding: 2.5rem;
    &-img {
      width: 55%;
      cursor: pointer;
    }
    &-text {
      color: $colorWhite;
      font-size: 3.5rem;
      font-family: $fontRubik;
      margin-top: 1.5rem;
    }
  }
  //! Filter Sidebar Section Styles
  &__filter {
    border-bottom: 0.3rem solid $colorBlack;
    &-title {
      width: 95%;
      padding: 2rem;
      background-color: $colorSecondary;
      border-radius: 0 0.5rem 0.5rem 0;
    }
    &-text {
      color: $colorWhite;
      display: block;
      text-align: right;
      font-size: 1.8rem;
      font-weight: 600;
      letter-spacing: 0.2rem;
    }
    &-list {
      width: 100%;
    }
    &-items {
      width: 80%;
      margin: 1.5rem auto;
    }
    &-item {
      width: 100%;
      padding: 1rem 0;
      @include centerizeTag(flex-start);
      opacity: 0.6;
      gap: 1rem;
      color: $colorFilter;
      transition: all 350ms ease-in;
      cursor: pointer;
      &:hover {
        color: $colorWhite;
        opacity: 1;
      }
    }
    &-icon {
      width: 4.5rem;
      height: 5rem;
      background: url(/public/images/sidebar-slider.png) no-repeat;
      background-size: cover;
      &--1 {
        background-position: -4.3rem 0;
      }
      &--2 {
        background-position: 0 0;
      }
      &--3 {
        background-position: -15.8rem 0;
      }
      &--4 {
        background-position: -8rem 0;
      }
      &--5 {
        background-position: -11.7rem 0;
      }
    }
    &-description {
      font-size: 1.4rem;
      font-weight: 600;
    }
  }
  //! Friends Sidebar Section Styles
  &__friends {
    padding: 2.5rem 0;
    &-content {
      width: 80%;
      margin: 1rem auto;
    }
    &-title {
      width: 100%;
      color: $colorWhite;
    }
    &-items {
      margin-top: 1.5rem;
    }
    &-item {
      width: 100%;
      @include centerizeTag(space-between);
      margin-bottom: 1.5rem;
      cursor: pointer;
    }
    &-info {
      @include centerizeTag(flex-start);
      gap: 1.5rem;
    }
    &-image {
      width: 4rem;
      height: 4rem;
      @include Responsive(laptop) {
        width: 3rem;
        height: 3rem;
      }
      border: 0.1rem solid $colorWhite;
      border-radius: 100%;
    }
    &-pic {
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
    &-text {
      color: $colorFilter;
      font-size: 1.4rem;
      @include Responsive(laptop) {
        font-size: 0.8rem;
      }
    }
    &-box {
      width: 6rem;
      @include centerizeTag();
    }
    &-icon {
      color: $colorFilter;
    }
    &-circle {
      width: 1.2rem;
      height: 1.2rem;
      background-color: green;
      border-radius: 100%;
    }
  }
  //! Rocket Sidebar Section Styles
  &__rocket {
    width: 80%;
    margin: 1.5rem auto;
    overflow: hidden;
    transition: all 300ms ease-in;
    &:hover {
      border: 0.2rem solid $colorSecondary;
      padding: 0.4rem;
      cursor: pointer;
      border-radius: 1rem;
    }
    &-pic {
      width: 100%;
      border-radius: 1rem;
    }
  }
}
