//!  Streams Styles
.streams {
  width: 100%;
  margin-top: 3.5rem;

  //!  Streams Content Styles
  &__content {
    width: $mainWidth;
    @include Responsive(laptop) {
      width: 89vw;
    }
    margin: 0 auto;
    &-main {
      @include centerizeTag(space-between);
      margin-top: 1.5rem;
      height: 50rem;
    }
    &-left {
      height: 100%;
      background-color: $colorPrimary;
      width: 70%;
      border-radius: 1rem;
      padding: 1.5rem;
      position: relative;
      overflow: hidden;
    }
    &-pic {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      overflow: hidden;
      position: relative;

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 647ms ease-in;
      }
      &:hover {
        .streams__content-cover {
          top: 0%;
        }
        .streams__content-pic-img {
          transform: scale(1.1);
        }
      }
    }
    &-cover {
      width: 100%;
      height: 100%;
      background: linear-gradient(120deg, #4375b2 39%, #a43337 100%);
      @include centerizeTag();
      font-size: 6rem;
      @include Responsive(tablet) {
        font-size: 4rem;
      }
      @include Responsive(phone) {
        font-size: 3rem;
      }
      color: $colorWhite;
      letter-spacing: 1.4rem;
      font-weight: bold;
      position: absolute;
      right: 0;
      top: 100%;
      opacity: 0.7;
      transition: all 647ms ease-in;
    }
    &-right {
      height: 100%;
      width: 28%;
    }
    &-item {
      width: 100%;
      height: 49%;
      background-color: $colorPrimary;
      border-radius: 1rem;
      margin-bottom: 1rem;
      padding: 1.5rem;
      position: relative;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
    &-text {
      position: absolute;
      top: 2.5rem;
      left: 2.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    &-title {
      font-size: 1.3rem;
      color: $colorWhite;
      font-weight: bold;
    }
    &-subtitle {
      font-size: $fontSizeSm;
      color: $colorWhite;
      font-weight: bold;
    }
    &-play {
      width: 4rem;
      height: 4rem;
      background-color: $colorSecondary;
      border-radius: 100%;
      @include centerizeTag();
      @include positionCenter();
      box-shadow: 0 0 1.5rem $colorShadow;
      &-icon {
        color: $colorWhite;
        font-size: $fontSizeDefault;
      }
    }
    &-discount {
      width: 25rem;
      height: 5.5rem;
      background-color: $colorDiscount;
      clip-path: polygon(22% 0, 78% 0, 100% 100%, 0 100%);
      @include centerizeTag();
      font-weight: bold;
      position: absolute;
      top: 1.2rem;
      right: -6.4rem;
      transform: rotate(33deg);
    }
  }
}
