// * Colors

// ! Main Colors

$colorPrimary: #202938;
$colorSecondary: #0761dc;
$colorSecondaryLight: #549afb;
$colorTertiary: #ff04ab;

// ! Other Colors

$colorBg: #111a23;
$colorWhite: #fff;
$colorBlack: #000;
$colorSubtitle: #7a7a7a;
$colorFilter: #4c5564;
$colorGreen: #01a51d;
$colorScore: orange;
$colorRed: rgb(192, 5, 5);
$colorRedLight: rgb(230, 0, 0);
$colorRedDark: rgb(148, 0, 0);
$colorPurpleLight: #d338f8;
$colorPurpleDark: #7e30a0;
$colorShadow: #8383ff;
$colorDiscount: #ffef00;

// * Font Size

$fontSizeSm: 1.1rem;
$fontSizeDefault: 1.6rem;
$fontSizeLg: 2.1rem;
$fontSizeTitle: 2.8rem;

// * Font Family

$fontSans: "DM Sans", sans-serif;
$fontPoppins: "Poppins", sans-serif;
$fontRubik: "Rubik", sans-serif;

// * Width
$mainWidth: 140rem;
