//!  Circle Gradients Styles
.circle__bg {
  width: 11rem;
  height: 11rem;
  border-radius: 100%;
  @include centerizeTag();
  box-shadow: 0 0 2rem $colorShadow;
  &--1 {
    background-image: conic-gradient(#ff2b28 25%, #e73bf3 0);
  }
  &--2 {
    width: 15rem;
    height: 15rem;
    background-image: conic-gradient(red 25%, blue 0);
  }
  &--3 {
    background-image: conic-gradient(#eca819 25%, blue 0);
  }
}
.circle__bg2 {
  width: 95%;
  height: 95%;
  border-radius: 100%;
  background: radial-gradient(circle, #9c091c 0, #e31c3b 50%, #323676 100%);
  @include centerizeTag();
  &--2 {
    background: radial-gradient(circle, #0658c6 0, #0c678a 50%, #000307 100%);
  }
  &--3 {
    background: radial-gradient(circle, #eca819 0, #eca819 50%, #000307 100%);
  }
}
